
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Price Prediction</title>
</head>
<body>

    <h1>Crypto Price Prediction</h1>

    <label for="crypto-select">Select a Cryptocurrency:</label>
    <select id="crypto-select">
        <option value="BTC">Bitcoin (BTC)</option>
        <option value="ETH">Ethereum (ETH)</option>
        <option value="XRP">Ripple (XRP)</option>
        <option value="LTC">Litecoin (LTC)</option>
    </select>

    <button onclick="predict()">Predict</button>

    <div id="prediction-results">
        <h3>Predictions</h3>
        <ul id="predictions-list"></ul>
    </div>

    <div id="plot">
        <h3>Price Plot</h3>
        <img id="plot-image" src="" alt="Price Plot">
    </div>

    <script>
        function updatePredictions(predictions) {
            const formattedPredictions = predictions.map(prediction => {
                return typeof prediction === 'number' ? prediction.toFixed(2) : prediction;
            });

            const predictionsList = document.getElementById('predictions-list');
            predictionsList.innerHTML = formattedPredictions.map(prediction => `<li>${prediction}</li>`).join('');
        }

        function updatePlot(plotImage) {
            const plotImageElement = document.getElementById('plot-image');
            plotImageElement.src = `data:image/png;base64,${plotImage}`;
        }

        function predict() {
            const selectedCrypto = document.getElementById('crypto-select').value;

            fetch(`/predict/${selectedCrypto}`)
                .then(response => response.json())
                .then(data => {
                    updatePredictions(data.predictions);
                    updatePlot(data.plot);
                })
                .catch(error => console.error('Error fetching predictions:', error));
        }
    </script>

</body>
</html>


